@use "./reset";

:root {
  //        Colors
  // =====================

  --white-clr: hsl(0, 0%, 100%);
  --dark-clr: hsl(0, 0%, 0%);

  //         Fonts
  // =====================

  --body-font-family: "Josefin Sans", sans-serif;
  --number-font-family: "Leaner", sans-serif;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //        Font Size
  // =======================

  --body-text: var(--quotes);
  --quotes: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --greeting: clamp(0.9375rem, 0.8288rem + 0.5435vi, 1.25rem);
  --timer: clamp(6.25rem, 4.0761rem + 10.8696vi, 12.5rem);
  --standard: clamp(0.9375rem, 0.394rem + 2.7174vi, 2.5rem);
  --location: clamp(0.9375rem, 0.7418rem + 0.9783vi, 1.5rem);
  --expand-btn: clamp(0.9375rem, 0.8723rem + 0.3261vi, 1.125rem);
  --details-title: clamp(0.8125rem, 0.769rem + 0.2174vi, 0.9375rem);
  --details-content: clamp(1.25rem, 0.4674rem + 3.913vi, 3.5rem);
  --temperature-text: clamp(3.75rem, 3.3152rem + 2.1739vi, 5rem);
  --meteo-text: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --meteo-text-value: clamp(0.9375rem, 0.8288rem + 0.5435vi, 1.25rem);

  //          Spacing
  // ========================

  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);

  //        Transition Easing
  // ==============================

  --custom-elastic-out: linear(
    0,
    0.2178 2.1%,
    1.1144 8.49%,
    1.2959 10.7%,
    1.3463 11.81%,
    1.3705 12.94%,
    1.3726,
    1.3643 14.48%,
    1.3151 16.2%,
    1.0317 21.81%,
    0.941 24.01%,
    0.8912 25.91%,
    0.8694 27.84%,
    0.8698 29.21%,
    0.8824 30.71%,
    1.0122 38.33%,
    1.0357,
    1.046 42.71%,
    1.0416 45.7%,
    0.9961 53.26%,
    0.9839 57.54%,
    0.9853 60.71%,
    1.0012 68.14%,
    1.0056 72.24%,
    0.9981 86.66%,
    1
  );
  --custom-ease-out: cubic-bezier(0.79, -0.26, 0.27, 1.25);

  --wrapper-show-transition: transform 400ms var(--custom-ease-out);
  --expand-btn-transition: all 800ms var(--custom-elastic-out);
  --footer-transition: bottom 400ms var(--custom-ease-out);
}

// ==============================
//       Font Face Setup
// ==============================

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 900;
  src: local("Josefin Sans"), local("JosefinSans"),
    url("../assets/fonts/josefin/josefin-sans-variable-font-normal.ttf")
      format("truetype");
}

@font-face {
  font-family: "Leaner";
  font-style: normal;
  font-weight: 400;
  src: local("Leaner"), local("Leaner-Regular"), local("LeanerRegular"),
    url("../assets/fonts/leaner/leaner-regular.woff2") format("woff2"),
    url("../assets/fonts/leaner/leaner-regular.woff") format("woff");
}

@font-face {
  font-family: "Leaner";
  font-style: normal;
  font-weight: 700;
  src: local("Leaner"), local("Leaner-Bold"), local("LeanerBold"),
    url("../assets/fonts/leaner/leaner-bold.woff2") format("woff2"),
    url("../assets/fonts/leaner/leaner-bold.woff") format("woff");
}

// ==============================
//       Utilities Classes
// ==============================

.container {
  --container-width: 72rem;

  width: min(100% - 3rem, var(--container-width));
  margin-inline: auto;
}

// ==============================
//       General Styling
// ==============================

body {
  font-family: var(--body-font-family);
  font-weight: var(--fw-regular);
  font-size: var(--body-text);
  color: var(--white-clr);

  background-image: url("../assets/images/img-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dark-clr);

  overflow: hidden;
}

#root {
  padding-block: var(--space-xl);
}

main.container {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  transition: var(--wrapper-show-transition);

  & .header-container {
    flex-grow: 2;
  }
}

.wrapper.active {
  transform: translateY(-14rem);
  transition: var(--wrapper-show-transition);
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  margin-block-end: var(--space-l);
}

// ==================
//       Quotes
// ==================

.quote-container {
  --quote-gap: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --quote-width: 37.5rem;

  width: min(100%, var(--quote-width));

  display: flex;
  align-items: flex-start;
  gap: var(--quote-gap);
}

.quote__body {
  font-size: var(--quotes);
  line-height: 1.7;

  margin-block-end: var(--space-xs);
}

.quote__author {
  font-size: var(--quotes);
  font-weight: var(--fw-bold);
  letter-spacing: 0.0625rem;
}

.quote--refresh-btn {
  font-size: var(--greeting);
  color: var(--white-clr);
  background-color: transparent;
}

// ==================
//       Meteo
// ==================

.meteo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: var(--space-xs);
}

.meteo__temperature {
  font-size: var(--temperature-text);
  font-family: var(--number-font-family);
  line-height: 1;
}

.meteo-bottom {
  --gap: clamp(0.75rem, 0.4022rem + 1.7391vi, 1.75rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);

  & .meteo__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    & .meteo__text {
      font-size: var(--meteo-text);
    }

    & .meteo__text__value {
      font-family: var(--number-font-family);
      font-size: var(--meteo-text-value);
      font-weight: var(--fw-bold);
      line-height: 1;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

// ===========================
//      Currently Timers
// ===========================

.currently-timer__greeting {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.currently-timer__timers {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;

  & span {
    font-size: var(--standard);
    font-weight: var(--fw-medium);
    margin-block-end: 1.6rem;
  }
}

.greeting__currently {
  display: none;
}

.greeting__text {
  font-size: var(--greeting);
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.timers__text {
  font-family: var(--number-font-family);
  font-size: var(--timer);
  line-height: 1.1;
  font-weight: var(--fw-bold);
}

.location__text {
  font-size: var(--location);
  font-weight: var(--fw-bold);
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}

// =====================
//      Expand Btn
// =====================

.expand-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--expand-btn);
  font-weight: var(--fw-bold);
  color: var(--white-clr);
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  width: 9rem;

  background-color: transparent;
  border: 0.0625rem solid var(--white-clr);
  border-radius: 100vmax;

  padding: 0.75rem 0;

  transition: var(--expand-btn-transition);

  &:is(:hover, :focus-visible) {
    background-color: var(--white-clr);
    color: var(--dark-clr);

    transition: background 200ms linear, color 200ms linear;
  }
}

// ===========================
//        More Details
// ===========================

.footer-container {
  position: absolute;
  bottom: -100%;
  left: 0;

  width: 100%;

  background-color: var(--dark-clr);
  padding-block: var(--space-l);

  transition: var(--footer-transition);
}

.footer-container.active {
  bottom: 0;
  transition: var(--footer-transition);
}

.more-details {
  & > * + * {
    margin-top: var(--space-s);
  }

  &__cells {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: var(--details-title);
    text-transform: uppercase;
  }

  &__content {
    font-family: var(--number-font-family);
    font-size: var(--details-content);
  }
}

// ==============================
//          Media Queries
// ==============================

@media only screen and (min-width: 48em) {
  .greeting__currently {
    display: inline;
  }
}

@media only screen and (min-width: 64em) {
  .wrapper.active {
    transform: translateY(-20rem);
  }

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  .meteo {
    align-items: center;
  }

  .main-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .expand-btn {
    width: 11rem;
    padding: 0.9375rem 0;
    margin-block-end: 0.5rem;
  }

  footer {
    padding-block: var(--space-xl);
  }

  .more-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;

    &__cells {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.75rem;
    }

    & > * + * {
      margin: 0;
    }
  }
}
